.KeystoreUploader {
  margin: 0 1em;
  padding: 1em;

  p {
    padding: 0.5em 1em;
  }
}

.input-secret {
  padding-left: 1em;
  margin-bottom: 1em;
}

.KeystoreUploader-formcontrol {
  width: 96%;
  margin-top: 1em !important;
}

.KeystoreUploader-button-container {
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  margin-bottom: 2em;
  margin-top: 1em;
}

.KeystoreUploader-button {
  background: #2196F3 !important;
  color: white !important;
}


.dropzone {
  height: 120px;
}

.dropzone-disable {
  border: 2px dashed #BDBDBD;
  color: #BDBDBD;
}

.dropzone-enable {
  border: 2px dashed #585f87;
  color: black;
}

.KeystoreUploader button {
  padding: 0.5em;
}