@import '../scss/_color.scss';
@import '../scss/_base.scss';

.KeystoreUploader {
  margin: 0 1em;
  padding: 1em;

  @include desktop {
    width: 100%;
    max-width: $main-width;
  }
}

.errMsg {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0.5em;
  color: $accent-color-red;
  
  i {
    margin-right: 5px;
  }
}

.input-secret {
  padding-left: 1em;
  margin-bottom: 1em;
}

.KeystoreUploader-formcontrol {
  margin-top: 0.5em !important;
  width: 98%;
}

.KeystoreUploader-button-container {
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  margin-bottom: 2em;
  margin-top: 1em;
}

.KeystoreUploader-button {
  background: $accent-color-blue !important;
  color: white !important;
}

.KeystoreUploader-button-reupload {
  margin-right: 1em;
}

.dropzone {
  height: 25vh;
}

.dropzone-disable {
  border: 2px dashed #BDBDBD;
  color: #BDBDBD;
}

.dropzone-enable {
  border: 1px dashed $primary-color;
  color: black;
}

.KeystoreUploader button {
  padding: 0.5em;
}

.dropzone-message {
  p {
    padding-left: 1em;
    color: $dark-grey;
  }

  span {
    font-weight: bold;
    color: $primary-color-light;
  }
}

.KeystoreUploader-accountInfo {
  margin-top: 0;
  line-height: 1.5;  
  display: inline-flex;
  flex-direction: column;
  font-size: 0.8em;
  color: $dark-grey;

  @include desktop {
    flex-direction: row;
    font-size: 1em;
  }
  
  span {
    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      word-break: break-all;
      //padding-left: 0.5em;
    }
  }
}

.notice {
  color: $dark-grey;
  padding: 0 0.5em 0.5em 0.5em;
  text-align: justify;
  line-height: 1.4;

  span {
    &:first-child {
      font-weight: bold;
      color: $primary-color-light;
      margin-right: 0.5em;
    }

    &:last-child {
      font-size: 0.8em;
      @include desktop {
        font-size: 0.9em;
      }
    }
  }
}