@import '../scss/_color.scss';
@import '../scss/_base.scss';

.KeystoreUploader {
  margin: 0 1em;
  padding: 1em;

  @include desktop {
    width: 100%;
    max-width: $main-width;
  }
}

.input-secret {
  padding-left: 1em;
  margin-bottom: 1em;
}

.KeystoreUploader-formcontrol {
  margin-top: 0.5em !important;
  width: 98%;
}

.KeystoreUploader-button-container {
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  margin-bottom: 2em;
  margin-top: 1em;
}

.KeystoreUploader-button {
  background: $accent-color-blue !important;
  color: white !important;
}

.KeystoreUploader-button-reupload {
  margin-right: 1em;
}

.dropzone {
  height: 25vh;
}

.dropzone-disable {
  border: 2px dashed #BDBDBD;
  color: #BDBDBD;
}

.dropzone-enable {
  border: 1px dashed $primary-color;
  color: black;
}

.KeystoreUploader button {
  padding: 0.5em;
}

.dropzone-message {
  p {
    padding-left: 1em;
    color: $dark-grey;
  }

  span {
    font-weight: bold;
    color: $primary-color-light;
  }
}