@import '../scss/_base.scss';
@import '../scss/_color.scss';

.FinalizeAuctionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;

  h2 {
    color: $accent-color-blue;
  }
}

.FinalizeAuctionForm-field {
  display: flex;
  flex-direction: column;
  width: 90vw;
  
  @include desktop {
    width: 85vw;
    max-width: $main-width;
  }
}

.FinalizeAuctionForm-submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 90vw;
  max-width: $main-width;
}