// Base
@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Font 
$base-font-family: 'Noto Sans TC';

$base-line-height: 1.5;

$light: 100;
$little-light: 300;
$regular: 400;
$bold: 600;
$base-font-weight: $regular;

$base-font-size: 12px;
$smaller-font-size: 8px;
$larger-font-size: $base-font-size * 1.5;
$large-font-size: $base-font-size * 2;

//Layout 
.flex-row-center {
  display: flex;
  justify-content: center;
}


//RWD
$mobile-width: 768px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}