// Base
@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Font weights
$light: 100;
$little-light: 300;
$regular: 400;
$bold: 600;

$base-font-family: 'Noto Sans TC';
$base-font-weight: $regular;
$base-font-size: 12px;
$base-line-height: 1.4;

//RWD
$mobile-width: 768px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}