$primary-color:  #172c3b;
$primary-color-light:  #2d79af;

$accent-color-red: #E74F44; //button, ready
$accent-color-brown: #A08875;
$accent-color-brown-light: #C4A180;
$accent-color-blue: #0091D4; //button
$accent-color-blue-light: #00BCD4;
$accent-color-green: #4ec7ae;

$deep-green: #4caf50;

$theme-color-white: #FAFAFA;
$theme-color-grey: #E0E0E0;
$theme-color-grey-light: #F5F5F5;
$theme-color-grey-dark: #B6B6B6;
$theme-color-grey-more-dark: #272727;