@import '../scss/_color.scss';
@import '../scss/_base.scss';

.SearchResult {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

.SearchResult-paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3em 0;
  
  @include desktop {
    flex-direction: row;
    padding: 5em 0;
  }
}

.SearchResult-paper-eth {
  // border: 1px solid green;
  width:100%;
  text-align: left;
  word-wrap: break-word;
  
  h2 {
    margin:0 0 1em 0;
    padding: 0 18px;
    color: $accent-color-blue;
    // border:1px solid red;
  }

  @include desktop {
    padding: 0;
    h2 {
      margin: 0;
      font-size: 1.8em;
    }
  }
}

.SearchResult-status-and-action {
  display: flex;
  justify-content: flex-end;

  @include mobile {
    width: 100%;
  }
}

.SearchResult-status {
  font-weight: $bold;
  color: $deep-green;
  border-bottom:1px solid $deep-green;
  padding: 0 1em;
  margin: 0 0.5em;
  line-height: 0.5;
}

.able {
  color: $deep-green;
}

.disable {
  color: $theme-color-grey-dark;
}

.able-border {
  border-bottom:1px solid $deep-green;
}

.disable-border {
  border-bottom:1px solid $theme-color-grey-dark;
}

.SearchResultBtn-active {
  background-color: $accent-color-blue;
  padding: 0 1em;
  margin-right: 0.5em;
  cursor: pointer;
  i {color: $theme-color-white;}
}

.SearchResultBtn-inactive {
  background-color: $theme-color-grey-light;
  padding: 0 1em;
  margin-right: 0.5em;
  cursor: pointer;
  i {color: $theme-color-grey-dark;}
}
