.SearchEns {
  margin: 1em;
  padding: 3em 1em 1em 1em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchEns input {
  font-size: 1.2em;
  margin: auto 1em;
  height: 2em;
  //border: 1px solid black;
}

.SearchEns-paper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  min-width: 380px;
}

.SearchEns-typography {
  font-size: 1.2em !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.SearchEns-input {
  width: 100%;
}

.SearchEns-search {
  display: flex;
  justify-content: center;
}

.SearchEns-btn {
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid black;
  padding: 0.5em 0.7em;
  margin-left: 1em;
  cursor: pointer;
}

.SearchEns-result {
  display: flex;
  align-items: center;
  // border: 1px solid black;
  margin: 2em;

  div {
    border: 1px solid black;
    margin-left: 1em;
    padding: 0.5em 1em;
    h3 {
      padding: 0;
      margin: 0;
    }
  }
}

.SearchEns-result-name {
  flex: 7;
  text-align: left;
  font-size: 1.2em;

}

.SearchEns-result-action {
  flex: 1;
  font-size: 1.2em;
}