@import '../scss/_color.scss';
@import '../scss/_base.scss';

.SearchEns {
  margin-top: 4em;
  margin-bottom: 0;
  padding: 1em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    flex: 3;
    font-size: $larger-font-size;
    padding-left: 1em;
    height: 2em;
  }
}

.SearchDescription {
  color: $accent-color-blue;
  margin-bottom: 1em;
  
  @include mobile {
    h1 {
      font-weight: $little-light;
      font-size: $base-font-size * 2;
    }
  }

  @include desktop {
    h1 {
      font-weight: $bold;
      font-size: $base-font-size * 3;
    }
  }
}

.SearchEns-paper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  div {width: 100%;}
}

.SearchEns-input-block {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.SearchEns-searchBlock {
  flex: 1;
}

.SearchEns-ethTipName {
  text-align: left;
  padding-left: 1.2em;
  font-size: $larger-font-size !important;
  color: $theme-color-grey-dark !important;
}

.SearchEns-searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
}