@import '../scss/_base.scss';
@import '../scss/_color.scss';

.RevealAuctionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;

  h2 {
    color: $accent-color-blue;
    font-size: $base-font-size * 2;
  }

  @include desktop {
    h2 {
      margin: 1em 0;
      font-weight: $bold;
      font-size: $base-font-size * 3;
    }
  }
}

.RevealAuctionForm-field {
  display: flex;
  flex-direction: column;
  width: 90vw;
  
  @include desktop {
    width: 85vw;
    max-width: $main-width;
  }
}

.RevealAuctionForm-submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 90vw;
  max-width: $main-width;
}