@import '../scss/_color.scss';
@import '../scss/_base.scss';

.About {
  display: flex;
  justify-content: center;
  padding: 0 1em;

  h1 {
    color: $accent-color-blue;
    font-size: $larger-font-size;
    text-align: center;
    margin-top: 2em;
  }

  p {
    text-align: justify;
    padding: 0 1em;
    font-size: 1em;
    line-height: 1.7;
    color: $dark-grey;
    text-indent: 1em;
    &::first-letter {
      color: $accent-color-blue;
      font-size: 1.2em;
      padding-right: 1px;
    }

    &:last-child {
      margin-bottom: 2em;
    }

    @include desktop {
      line-height: $base-line-height;
    }

  }

  span {
    color: $accent-color-blue;
    font-weight: $bold;
    padding: 0 1px;
  }
}
