@import '../scss/_color.scss';
@import '../scss/_base.scss';

.StartAuctionConfirmDialog {
  margin: 1em 6.5em 1.5em 6.5em;
}

.StartAuctionConfirmDialog-title {
  color: $accent-color-blue;
  text-align: center;
  font-size: 1.2em;
  margin: 1.5em 0 0 0;
  padding-bottom: 1.5em;
}

.StartAuctionConfirmDialog-list-item {
  p {
    &:first-child {
      font-weight: bold;
      color: $primary-color-light;
    }
  }
}

.address {
  font-size: 0.9em;
}

.StartAuctionConfirmDialog-action-block {
  margin-right: 1em;
}