@import '../scss/_color.scss';
@import '../scss/_base.scss';

.StartAuctionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;

  h2 {
    color: $accent-color-blue;
  }
}

.StartAuctionForm-field {
  display: flex;
  flex-direction: column;
  width: 90vw;

  @include desktop {
    width: 85vw;
    max-width: $main-width;
  }

}

.StartAuctionForm-submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 90vw;
  max-width: $main-width;
}

.StartAuctionForm-terms {
  text-align: left;
}