@import '../scss/_color.scss';

.TimeDuration {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $theme-color-white;
  padding: 10px;  
}

.TimeDuration-block {
  width: 100%;
  padding: 10px;  
}

.reveal {
  background-color: $primary-color;
}

.finalize {
  background-color: $primary-color-light;  
}