@import '../scss/_color.scss';
@import '../scss/_base.scss';

.TimeDuration {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9em;  
  width: 100%;
  line-height: 0.5;
  margin-bottom: 1em;
  color: $dark-grey;

  @include desktop {
    flex-direction: row;
    align-items: center;
    max-width: $main-width;

    & > div {
      flex: 1;
    }
  }
}

.TimeDuration-block {
  margin-bottom: 0.5em;
  border-bottom: 1px solid $dark-grey;
  
  h3 {
    color: $primary-color-light;
  }

  p:nth-child(3) {
    text-align: right;
  }
}

.reveal {
  @include desktop {
    margin-right: 1em;
  }
}

.finalize {
  @include desktop {
    margin-left: 1em;
  }
}
