@import './scss/_base.scss';
@import './scss/_color.scss';

body {
  font-family: 'Noto Sans TC', 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}