.Network-select {
  color: white !important;
}

svg[class^="MuiSelect-icon"] {
  color: white !important;
}

svg[class^="MuiSvgIcon-root"] {
  color: white !important;
}

div[class^="MuiInput-inkbar"] {
  background-color: white !important;
}

div[class^="MuiInput-underline"] {
  background-color: white !important;
}