.Top-info {
  margin-left: 1em;
}

.WalletBtn {
  margin: 1em;
  padding: 1em;
  // border: 1px solid #585f87;
  font-size: 1.2em;
  // cursor: pointer;
}

.selected {
  background: #585f87;
  color: white;
}