.AppBar {
  background-color: #6203B8 !important;
}

.Top {
  width: 100vw;
  position: fixed;
}

.Top-info {
  margin-left: 1em;
}

.WalletBtn {
  margin: 1em;
  padding: 1em;
  font-size: 1.2em;
}

.selected {
  background: #585f87;
  color: white;
}

.MenuBtn {
  margin-right: 8px;
}

.Top-Drawer {
  width: 15em;
}

.Top-Drawer-Chevron {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
}

.Top-Drawer-ListItem {
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

.Top-Drawer-ListItemText {
  text-align: left;
}
