@import '../scss/_color.scss';
@import '../scss/_base.scss';

.Footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  // a {
  //   color: white;
  //   text-decoration: none;
  // }
}

// .Footer-info {
//   display: flex;
//   flex-direction: column;
//   text-align: left;
//   margin: 2em 0 2em 0;
// }

.Footer-copyright {
  color: $primary-color-light;
  margin: 0 0 0.5em 0;
  // font-size: $smaller-font-size;
}
