@import '../scss/_color.scss';
@import '../scss/_base.scss';

$circle-diameter: 2vw;
$circle-radius: $circle-diameter / 2;

.Stepper {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  width: 100%;
  // border: 1px solid red;

  @include desktop {
    margin-top: 5em;
    max-width: $main-width;
  }
}

.Step {
  width: 100%;
  margin: 0 0.5em;

  h4 {
    margin: 0;
    padding: 1em;
    font-size: 0.9em;

    @include desktop {
      font-size: 1.1em;
    }
  }
}

.current {
  border-bottom: 1px solid $deep-green;
  color: $deep-green;
}

.not-current {
  border-bottom: 1px solid $theme-color-grey-dark;
  color: $theme-color-grey-dark;
}